@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

nextjs-portal {
  display: none !important;
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}


.leaflet-routing-container {
  background-color: white !important;
  color: black !important;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  max-height: 300px;
  overflow-y: auto;
}

.leaflet-routing-container h2,
.leaflet-routing-container .leaflet-routing-alt h3 {
  color: black !important;
}

.leaflet-routing-alt,
.leaflet-routing-alt .leaflet-routing-instruction {
  color: black !important;
}